extends book-form.pug

block secondForm
  form(action=`/books/${book.get("id")}/delete` onsubmit="return confirm('Do you really want to delete this book?');")
    p
      a(class="button" href="/books") Cancel
    p
      input(type="submit" value="Delete Book")